<div class="main">
  <div class="top h-100">
    <app-navigation></app-navigation>
    <app-banner *ngIf="!loggedUser && !(this.router.url === '/login' || this.router.url === '/register') && !(this.router.url === '/server-error' || this.router.url === '/not-found')"></app-banner>
  </div>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>

