<div class="search">
  <form class="example" >
    <input type="text" [(ngModel)]="term" [placeholder]="search" name="search">
    <button type="submit" class="orange-purple-btn" (click)="emit()"><i class="fa fa-search"></i></button>
  </form>
</div>
