@import './../../../assets/scss/buttons.scss';
@import './../../../assets/scss/colors.scss';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  display: flex;
  justify-content: center;
  align-items: center;

  .example {
    margin: 15px;
    width: 40%;
    border-radius: 20px;
  }
}


form.example input[type=text] {
  outline: none;
  padding: 10px;
  font-size: 17px;
  border: 1px solid;
  border-bottom-left-radius: 20px;
  float: left;
  width: 80%;
  border-right: none;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  outline: none;
  float: left;
  width: 20%;
  padding: 10px;
  color: white;
  font-size: 17px;
  border: 1px solid;
  border-left: none; /* Prevent double borders */
  border-top-right-radius: 20px;
  cursor: pointer;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width: 600px) {
  .example {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  form.example input[type=text] {
    outline: none;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 20px;
    width: 200px;
  }

  form.example button {
    outline: none;
    margin-top: 5px;
    float: left;
    width: 60px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid;
    border-radius: 20px;
    cursor: pointer;
  }
}
