<div ngbDropdown class="d-inline-block focused" *ngIf="this.languages">
  <button
    class="dropdown-style py-1 px-3"
    id="dropdownForm"
    ngbDropdownToggle
  >
  {{chosenLanguage}}
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownForm">
    <a
      *ngFor="let language of languages"
      ngbDropdownItem
      (click)="this.emitLanguage(language)"
    >
      {{ language.name }}
    </a>
  </div>
</div>
