@import '~ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

* {
  font-family: 'Playfair Display', 'Times New Roman', 'Courier', serif;
  body {
    font-size: 1.2em;
  }
}


html {
  position: relative;
  min-height: 100%;
  width: 100%;
}

body {
  margin-bottom: 140px;
  background: url("../src/assets/images/bg.png") no-repeat center center;
  background-size: cover;
}
