<div class="translation-container" id="#top-section">
  <ngx-spinner
    bdColor="#333"
    size="medium"
    color="#fff"
    type="timer"
    [fullScreen]="false">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
  <app-serach-bar [search]="uiElements | UIelFinder: 'search'" (termEmit)="searchForTranslation($event)"></app-serach-bar>
  <app-translations-table [uiElements]="uiElements" [translations]="translations"></app-translations-table>
  <button class="waves-light orange-purple-btn m-5 px-3 py-2" (click)="this.loadMoreTranslations()" mdbWavesEffect>
    <span class="ml-1">{{uiElements | UIelFinder: 'load_more'}}</span>
  </button>
</div>
<go-top-button [animate]="true"
               [speed]="10"
               [acceleration]="2"
               [scrollDistance]="800"
               [styles]="{
                    'border-radius': '20px',
                    'right': '10px',
                    'margin-right': '10px',
                    'border': '5px solid',
                    'border-color': '#523146',
                    'line-height': '15px',
                    'height': '50px',
                    'width': '50px'
                 }"><i class="fa fa-arrow-up"></i>
</go-top-button>

