@import './../../../assets/scss/buttons.scss';
@import './../../../assets/scss/colors.scss';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.translation-container {
  margin: 40px;
  text-align: center;
}

