<form [formGroup]="newLanguage">
  <div class="add-language">
    <div class="md-form">
      <input mdbInput mdbValidate type="text" id="form2" class="form-control" formControlName="name" placeholder="{{uiElements | UIelFinder: 'placeholder'}}">
      <label for="form2" class="">{{uiElements | UIelFinder: 'language_name'}}</label>
      <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">{{uiElements | UIelFinder: 'invalid_input'}}</mdb-error>
      <mdb-success *ngIf="name.valid && (name.dirty || name.touched)">{{uiElements | UIelFinder: 'valid_input'}}</mdb-success>
    </div>
    <div class="md-form">
      <input  mdbInput mdbValidate type="text" id="form1"  class="form-control" formControlName="code"  placeholder="fr">
      <label for="form1" class="">{{uiElements | UIelFinder: 'language_code'}}</label>
      <mdb-error *ngIf="code.invalid && (code.dirty || code.touched)">{{uiElements | UIelFinder: 'invalid_input'}}</mdb-error>
      <mdb-success *ngIf="code.valid && (code.dirty || code.touched)">{{uiElements | UIelFinder: 'valid_input'}}</mdb-success>
    </div>
    <button mdbBtn class="orange-purple-btn" [disabled]="newLanguage.invalid" mdbWavesEffect (click)="addLanguage()">
      <mdb-icon fas icon="plus"></mdb-icon>
      <span class="ml-1 font-weight-bold">{{uiElements | UIelFinder: 'add_language'}}</span>
    </button>
  </div>
</form>
