@import './../../../assets/scss/buttons.scss';

.add-language {
  border-style: groove;
  border-width: 4px;
  border-color: rgba(121, 85, 72, 0.7);
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
