<button class="waves-light orange-purple-btn m-5 px-3 py-2" (click)="this.toggle()" mdbWavesEffect>
  <i class="fas fa-pen-fancy fa-x2 mr-1"></i>
  <span class="ml-1">{{uiElements | UIelFinder: 'create_article'}}</span>
</button>

<div [ngClass]="this.collapsed ? 'hidden' : 'visible'">
  <div class="create-form w-75 mx-auto">
    <div class="text-center">
      <p class="h4 mb-4">{{uiElements | UIelFinder: 'cyah'}}</p>
      <app-form-dropdown [chosenLanguage]="uiElements | UIelFinder: 'c_language'" (oNLanguageChange)="this.setArticleLanguage($event)"></app-form-dropdown>
   </div>
   <form
      [formGroup]="createArticleForm"
      (ngSubmit)="this.createArticle(this.createArticleForm.value)"
      class="text-center border border-light p-5"
    >
      <div class="md-form">
        <input
          type="text"
          id="imgPath"
          class="form-control mb-4"
          [placeholder]="uiElements | UIelFinder: 'eiURL'"
          required
          formControlName="imgPath"
        />
        <mdb-error *ngIf="this.imgPath.invalid && (this.imgPath.dirty || this.imgPath.touched)">
          {{uiElements | UIelFinder: 'url_required'}}
        </mdb-error>
      </div>
      <div class="md-form">
        <input
          type="text"
          id="title"
          class="form-control mb-4"
          [placeholder]="uiElements | UIelFinder: 'enter_title'"
          required
          formControlName="title"
        />
        <mdb-error *ngIf="this.title.invalid && (this.title.dirty || this.title.touched)">
          {{uiElements | UIelFinder: 'ttir'}}!
        </mdb-error>
      </div>
      <div class="form-group mf-form">
        <textarea
          class="form-control rounded-0"
          id="content"
          rows="3"
          [placeholder]="uiElements | UIelFinder: 'article_content'"
          required
          formControlName="content"
        ></textarea>
        <mdb-error *ngIf="this.content.invalid && (this.content.dirty || this.content.touched)">
          {{uiElements | UIelFinder: 'ttir'}}!
        </mdb-error>
      </div>

      <button
        class="btn bg-color w-100 py-2 text-white-50"
        type="submit"
        [disabled]="this.createArticleForm.invalid"
        (click)="this.toggle()">
        {{uiElements | UIelFinder: 'create'}}!
      </button>
    </form>
  </div>
</div>
