<div class="article-details my-5 mt-md-0">
  <div class="d-flex flex-row mt-5 pl-3">
    <button
      *ngIf="(this.loggedUserData | getRole: 'Administrator') || (this.loggedUserData | getRole: 'Contributor')"
      class="waves-light orange-purple-btn mr-3 px-2 px-sm-4 py-2 my-1"
      routerLink="versions"
      mdbWavesEffect
    >
      <mdb-icon far icon="eye"></mdb-icon>
      <span class="ml-1">{{uiElements | UIelFinder: 'version'}}</span>
    </button>
    <app-edit-article
      class=" my-1"
      [uiElements]="uiElements"
      *ngIf="(this.loggedUserData | getRole: 'Administrator') || (this.loggedUserData | getRole: 'Contributor')"
      [article]="this.article"
      (oNEdit)="this.editArticle($event)"
    ></app-edit-article>
  </div>
  <div class="px-0 px-lg-5 single-article">
    <section class="my-5 mx-md-5 px-0 px-lg-5">
      <div class="row px-1 px-lg-5">
        <div class="col-12">
          <h2 class="h2-responsive font-weight-bold text-center my-5">
            {{
              this.article.versions[0].title.translatedText ||
                this.article.versions[0].title
            }}
          </h2>
          <div
            class="my-5 d-flex"
            *ngIf="this.article.versions[0].title.rating"
          >
            <span class="ml-5 mr-2 rate-txt">{{uiElements | UIelFinder: 'rate_translation'}}:</span>
            <div class="rating">
              <ngb-rating
                class="focused"
                [rate]="+this.article.versions[0].title.rating.avgrating"
                max="5"
                (rateChange)="
                  this.rate($event, this.article.versions[0].title.rating.id)
                "
              ></ngb-rating>
            </div>
            <span class="ml-2 px-2">{{
              this.article.versions[0].title.rating.avgrating | number: '1.2'
            }}</span>
          </div>
        </div>
      </div>
      <div class="row px-1">
        <div class="col-12 d-flex justify-content-center mb-5">
          <img
            class="circle z-depth-0 d-inline-block mr-4"
            [src]="this.article.createdBy.avatarPath"
            [alt]="this.article.createdBy.username"
          />
          <div class="user-info d-flex flex-column mt-3">
            <span>{{ this.article.createdBy.username | uppercase }}</span>
            <span>{{ this.article.createdOn | date: "dd-MM-yyyy" }}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="view overlay rounded z-depth-1-half mb-5 position-relative">
            <img
              class="img-fluid img-responsive d-block mx-auto"
              [src]="this.article.versions[0].imgPath"
              [alt]="
                this.article.versions[0].title.translatedText ||
                this.article.versions[0].title
              "
            />
            <span class="deleted" *ngIf="this.article.isDeleted">
              {{uiElements | UIelFinder: 'deleted'}}
            </span>
          </div>
        </div>
      </div>
      <p class="dark-grey-text w-100 mx-auto mb-5 px-4 art-content">
        {{
          this.article.versions[0].content.translatedText ||
            this.article.versions[0].content
        }}
      </p>
      <div
        class="d-flex align-items-center px-1"
        *ngIf="this.article.versions[0].content.rating"
      >
        <span class="ml-4 mr-2 rate-txt">{{uiElements | UIelFinder: 'rate_article'}}:</span>
        <div class="rating">
          <ngb-rating
            class="focused"
            [rate]="+this.article.versions[0].content.rating.avgrating"
            max="5"
            (rateChange)="
              this.rate($event, this.article.versions[0].content.rating.id)
            "
          ></ngb-rating>
        </div>
        <span class="ml-4">{{
          this.article.versions[0].content.rating.avgrating | number: '1.2'
        }}</span>
      </div>
    </section>
  </div>
</div>
