@import './../../../assets/scss/colors.scss';
@import './../../../assets/scss/imgs.scss';
@import './../../../assets/scss/buttons.scss';

.single-article {
  line-height: 2em;
  .view {
    img {
      height: 350px;
    }
  }
  .user-info {
    line-height: 1.5em;
  }
  ::ng-deep .rating {
    font-size: 1.2em;
    color: rgb(214, 177, 14);
  }
  .art-content {
    background-color: rgba($color: #ffffff, $alpha: 0.4);
  }
  .deleted {
    top: 60%;
  }
}
@media (min-width: 768px) {
  .single-article {
    padding-left: 10% !important;
    padding-right: 10% !important;
    font-size: 1.2em;
    line-height: 2.4em;
    .view {
      img {
        max-width: 60%;
      }
    }
    span.rate-txt {
        font-size: 0.9em;
      }
  }
}
@media (min-width: 425px) {
  span.rate-txt {
    font-size: 0.7em;
  }
  }
  @media (max-width: 425px) {
    .article-details {
      button, app-edit-article {
        font-size: 0.7em !important;
      }
      span.rate-txt {
        font-size: 0.7em !important;
      }
      .view {
        img {
          height: 200px !important;
        }
      }
    }
}
