<a [routerLink]="['/articles', this.article.id]">
  <div class="view overlay rounded z-depth-1-half position-relative mb-4">
    <img
      class="img-fluid img-responsive d-block mx-auto img-info1"
      [src]="this.article.versions[0].imgPath"
      [alt]="
        this.article.versions[0].title.translatedText ||
        this.article.versions[0].title
      "
    />
    <span class="deleted" *ngIf="this.article.isDeleted">
      {{uiElements | UIelFinder: 'deleted'}}
    </span>
    <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
  </div>
</a>

<div class="news-data d-flex justify-content-between">
  <p class="font-weight-bold dark-grey-text">
    <mdb-icon far icon="clock" class="pr-2"></mdb-icon
    >{{ this.article.updatedOn | date: "dd-MM-yyyy" }}
  </p>
  <app-diolog-modal
    *ngIf="
      !this.article.isDeleted &&
      ((!this.article.isDeleted &&
        (this.loggedUserData | getRole: 'Administrator')) ||
        (this.loggedUserData | getRole: 'Contributor'))
    "
    [uiElements]="uiElements"
    [message]="
      this.article.versions[0].title.translatedText ||
      this.article.versions[0].title + ' will be deleted! Are you sure?'
    "
    [btnIcon]="'trash-alt'"
    [btnClass]="'deep-orange-text font-weight-bold'"
    (oNArticleDelete)="this.deleteArticle($event)"
  >
  </app-diolog-modal>
</div>
<a [routerLink]="['/articles', this.article.id]">
  <h3 class="font-weight-bold dark-grey-text mb-3">
    {{
      this.article.versions[0].title.translatedText ||
        this.article.versions[0].title
    }}
  </h3>
  <p class="dark-grey-text text-truncate mb-lg-0 mb-md-5 mb-4">
    {{
      this.article.versions[0].content.translatedText ||
        this.article.versions[0].content
    }}
  </p>
</a>
