@import "./../../../assets/scss/colors.scss";

footer {
  position: absolute;
  bottom: -0px;
  margin-top: 22px;
  width:100%;
  color: #A998A3;
  h5 {
    font-weight: 700;
  }
  .list-unstyled {
    a {
      color: #A998A3;
    }
  }
}
.front-end, .back-end {
  img {
    height: 55px;
  }
}
