@import './../../../assets/scss/imgs.scss';

.article-img {
  height: 250px;
}

mdb-badge {
  height: 1.8em;
    margin-top: 7px;
    width: 50px;
}

@media (min-width: 768px) {
  .deleted {
    top: 80%;
    right: 28%;
  }
}

@media (max-width: 425px) {
  .article-img {
    height: 170px;
  }
  .deleted {
    top: 80%;
    right: 0%;
    font-size: 0.7em
  }
}
