<a
  [routerLink]="['/articles', this.article.id]"
  class="view overlay rounded z-depth-2 mb-4 mx-md-3 mx-0"
>
  <div class="position-relative">
    <img
      class="img-fluid img-responsive article-img d-block mx-auto w-md-100"
      [src]="this.article.versions[0].imgPath"
      [alt]="
        this.article.versions[0].title.translatedText ||
        this.article.versions[0].title
      "
    />
    <span class="deleted" *ngIf="this.article.isDeleted">
      {{uiElements | UIelFinder: 'deleted'}}
    </span>
    <a>
      <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
    </a>
  </div>
</a>

<div class="row mb-3">
  <div class="col-12">
    <mdb-badge color="pink">
      <app-diolog-modal
        *ngIf="
          !this.article.isDeleted &&
          ((!this.article.isDeleted &&
            (this.loggedUserData | getRole: 'Administrator')) ||
            (this.loggedUserData | getRole: 'Contributor'))
        "
        [uiElements]="uiElements"
        [message]="
          this.article.versions[0].title.translatedText ||
          this.article.versions[0].title + ' will be deleted! Are you sure?'
        "
        [btnIcon]="'trash-alt'"
        (oNArticleDelete)="this.deleteArticle($event)"
      >
      </app-diolog-modal>
    </mdb-badge>
  </div>
</div>
<a [routerLink]="['/articles', this.article.id]">
  <div class="d-flex justify-content-between">
    <div class="col-11 text-truncate pl-0 mb-3 font-weight-bold dark-grey-text">
      {{
        this.article.versions[0].title.translatedText ||
        this.article.versions[0].title
      }}
    </div>
    <a>
      <mdb-icon fas icon="angle-double-right dark-grey-text"></mdb-icon>
    </a>
  </div>
</a>
