<mdb-navbar SideClass="navbar bg-color navbar-expand-lg navbar-dark fixed-top w-100" [containerInside]="false">
  <mdb-navbar-brand>
    <a routerLink="/home" class="navbar-brand waves-light">
      <img
        src="./../../../assets/images/article-logo.jpg"
        class="rounded img-responsive"
      />
    </a>
  </mdb-navbar-brand>
  <app-dropdown-menu
    class="ml-2"
    (oNLanguageSelect)="this.setCurrentLanguage($event)">
  </app-dropdown-menu>

  <links>
    <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
    </ul>
    <ul class="navbar-nav ml-auto search">
      <li style="margin-right: 40px" *ngIf="loggedUser" class="nav-item avatar" ngbDropdown>
        <a class="nav-link p-0 d-flex align-items-center"
           ngbDropdownToggle
           id="avatar-dropdown"
           role="button"
        >
          <img
            class="rounded-circle z-depth-0 d-inline-block mr-2"
            [src]="loggedUser.avatarPath"
            alt="user avatar"
          />
          <span class="text-white-50">{{loggedUser.username}}</span>
        </a>
        <div
          ngbDropdownMenu
          aria-labelledby="avatar-dropdown"
          class="dropdown-menu">
          <a *ngIf="loggedUser | getRole: 'Administrator'" ngbDropdownItem
             routerLink="/articles">{{uiElements | UIelFinder: 'articles'}}</a>
          <a *ngIf="loggedUser | getRole: 'Editor'" ngbDropdownItem
             routerLink="/admin-panel">{{uiElements | UIelFinder: 'AP'}}</a>
          <a *ngIf="loggedUser | getRole: 'Editor'" ngbDropdownItem
             routerLink="/translations">{{uiElements | UIelFinder: 'trl'}}</a>
          <a ngbDropdownItem (click)="this.signOut()">{{uiElements | UIelFinder: 'logout'}}</a>
        </div>
      </li>
    </ul>
  </links>
</mdb-navbar>
