@import "./../../../assets/scss/colors.scss";
@import "./../../../assets/scss/buttons.scss";

mdb-navbar {
  z-index: 1040;
  .navbar-brand {
    img {
      height: 50px;
    }
  }
}
.search {
  .search-form {
    border-bottom: 1px solid #A998A3;
    &:focus:not([readonly]) {
      border-bottom: 1px solid #A998A3;
      box-shadow: 0 1px 0 0 #A998A3;
      }
  }
}
#avatar-dropdown {
  color: #A998A3;
  img {
    height: 50px;
  }
}
