<div class="main">
  <div class="wrapper">
    <div class="box">
      <h1>500</h1>
      <p>{{uiElements | UIelFinder:'simny'}}.</p>
      <p>&#58;&#40;</p>
      <p><a routerLink="/home">{{uiElements | UIelFinder:'lmta'}}!</a></p>
    </div>
  </div>
</div>
