<div class="single-news mb-4">
  <div class="row">
    <div class="col-md-3">
      <a
        [routerLink]="['/articles', this.article.id]"
        class="view overlay rounded z-depth-1 mb-4"
      >
        <img
          class="img-fluid img-responsive d-block mx-auto"
          [src]="this.article.versions[0].imgPath"
          [alt]="
            this.article.versions[0].title.translatedText ||
            this.article.versions[0].title
          "
        />
        <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
      </a>
    </div>

    <div class="col-md-9">
      <div class="d-flex">
        <app-diolog-modal
          *ngIf="
            !this.article.isDeleted &&
            ((!this.article.isDeleted &&
              (this.loggedUserData | getRole: 'Administrator')) ||
              (this.loggedUserData | getRole: 'Contributor'))
          "
          [uiElements]="uiElements"
          [message]="
            this.article.versions[0].title.translatedText ||
            this.article.versions[0].title + ' will be deleted! Are you sure?'
          "
          [btnIcon]="'trash-alt'"
          [btnClass]="'dark-grey-text font-weight-bold'"
          (oNArticleDelete)="this.deleteArticle($event)"
        >
        </app-diolog-modal>
        <p class="font-weight-bold dark-grey-text">
          {{ this.article.updatedOn | date: "dd-MM-yyyy" }}
        </p>
      </div>
      <a
        [routerLink]="['/articles', this.article.id]"
        class="d-flex justify-content-between"
      >
        <div class="col-11 text-truncate pl-0 mb-3 dark-grey-text">
          {{
            this.article.versions[0].title.translatedText ||
              this.article.versions[0].title
          }}
        </div>
        <i class="fas fa-angle-double-right grey-text"></i>
      </a>
    </div>
  </div>
</div>
