<div class="table-responsive inner">
  <table mdbTable striped="true" bordered="true" hover="true">
    <thead class="rgba-brown-strong">
    <tr>
      <th class="font-weight-bold"  scope="col">{{uiElements | UIelFinder:'name'}} </th>
      <th class="font-weight-bold"  scope="col">{{uiElements | UIelFinder: 'code'}}</th>
      <th class="font-weight-bold"  scope="col">{{uiElements | UIelFinder: 'active'}} </th>
    </tr>
    </thead>
    <tbody>
    <tr mdbTableCol *ngFor="let translation of languages">
      <td class="font-weight-bold">{{translation.name }}</td>
      <td class="font-weight-bold">{{translation.code }}</td>
      <td class="font-weight-bold">
        <mdb-icon *ngIf="!translation.isActive" size="2x" class="red-text" fas icon="times"></mdb-icon>
        <mdb-icon *ngIf="translation.isActive" size="2x" class="green-text" fas icon="check"></mdb-icon>
      </td>
    </tr>
    </tbody>
  </table>
</div>


