<div class="single-news mb-3">
  <div class="d-flex justify-content-between">
    <app-diolog-modal
    *ngIf="!this.article.isDeleted && ((this.loggedUserData | getRole: 'Administrator') || (this.loggedUserData | getRole: 'Contributor'))"
      [uiElements]="uiElements"
      [message]="
        this.article.versions[0].title.translatedText ||
        this.article.versions[0].title + ' will be deleted! Are you sure?'
      "
      [btnIcon]="'trash-alt'"
      (oNArticleDelete)="this.deleteArticle($event)"
    >
    </app-diolog-modal>
    <a
      [routerLink]="['/articles', this.article.id]"
      class="col-11 text-truncate pl-0 mb-3 text-black-50"
    >
      {{
        this.article.versions[0].title.translatedText ||
          this.article.versions[0].title
      }}
    </a>
    <mdb-icon fas icon="angle-double-right grey-text"></mdb-icon>
  </div>
</div>
