.purple-btn {
  border: 2px solid #523146 !important;
  border-radius: 5px;
  background: #523146;
  background: -moz-linear-gradient(left,  #523146 0%, #633b54 34%, #a3717d 69%, #cf9291 100%);
  background: -webkit-linear-gradient(left,  #523146 0%,#633b54 34%,#a3717d 69%,#cf9291 100%);
  background: linear-gradient(to right,  #523146 0%,#633b54 34%,#a3717d 69%,#cf9291 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#523146', endColorstr='#cf9291',GradientType=1 );
  color: #ffffff !important;
  &:hover {
    border: 2px solid #523146 !important;
    background: #523146;
    background: -moz-linear-gradient(left,  #cf9291 0%, #a3717d 34%, #633b54 69%, #523146 100%);
    background: -webkit-linear-gradient(left,  #cf9291 0%,#a3717d 34%,#633b54 69%,#523146 100%);
    background: linear-gradient(to right,  #cf9291 0%,#a3717d 34%,#633b54 69%,#523146 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf9291', endColorstr='#523146',GradientType=1 );
  }
  &:focus {
    outline: 5px auto #403F5F;
  }
}
.orange-purple-btn {
  border: 2px solid #FEA06E !important;
  border-radius: 5px;
  background: #a2717e;
  background: -moz-linear-gradient(left,  #a2717e 17%, #a2717e 29%, #fea06e 65%, #f8d689 82%, #f8d689 82%, #f8d689 100%);
  background: -webkit-linear-gradient(left,  #a2717e 17%,#a2717e 29%,#fea06e 65%,#f8d689 82%,#f8d689 82%,#f8d689 100%);
  background: linear-gradient(to right,  #a2717e 17%,#a2717e 29%,#fea06e 65%,#f8d689 82%,#f8d689 82%,#f8d689 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2717e', endColorstr='#f8d689',GradientType=1 );
  color: #523146 !important;
  &:hover {
    background: #f8d689;
    background: -moz-linear-gradient(left,  #f8d689 0%, #f8d689 0%, #fdb777 19%, #fea06e 33%, #a2717e 68%, #a2717e 83%);
    background: -webkit-linear-gradient(left,  #f8d689 0%,#f8d689 0%,#fdb777 19%,#fea06e 33%,#a2717e 68%,#a2717e 83%);
    background: linear-gradient(to right,  #f8d689 0%,#f8d689 0%,#fdb777 19%,#fea06e 33%,#a2717e 68%,#a2717e 83%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8d689', endColorstr='#a2717e',GradientType=1 );
  }
  &:focus {
    outline: 5px auto #403F5F;
  }
}

@media(max-width: 768px) {
  .purple-btn, .orange-purple-btn {font-size: 1em !important;}
}
