.hidden {
  transition: ease-out;
  transition-property: opacity;
  transition-duration: 1s;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.visible {
  transition: ease-out;
  transition-property: opacity;
  transition-duration: 1s;
  opacity: 1;
  height: auto;
}
