::ng-deep .bg-color {
  background-color: #523146;
}
::ng-deep .bg-color-light {
  background-color: #633b54;
}
.semi-transparent-bg {
  background-color: rgba($color: #ffffff, $alpha: 0.2);
}
.focused {
  &:focus {
    outline: 5px auto #403F5F;
  }
}
