.circle {
  width: 40%;
  border-radius: 50%;
}
.deleted {
  position: absolute;
  top: 85%;
  right: 0;
  width: 30%;
  background-color: rgba($color: #303030, $alpha: 0.7);
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: right;
  padding-right: 3%;
}
@media (min-width: 768px) {
  .circle {
      width: 20%;
  }
}
