<table mdbTable striped="true" bordered="true" hover="true">
  <thead class="rgba-brown-strong">
    <tr>
      <th class="font-weight-bold" scope="col">
        {{ uiElements | UIelFinder: "picture" }}
      </th>
      <th class="font-weight-bold" scope="col">
        {{ uiElements | UIelFinder: "title" }}
      </th>
      <th class="font-weight-bold" scope="col">
        {{ uiElements | UIelFinder: "content" }}
      </th>
      <th class="font-weight-bold" scope="col">
        {{ uiElements | UIelFinder: "version" }}
      </th>
      <th class="font-weight-bold" scope="col">
        {{ uiElements | UIelFinder: "current" }}
      </th>
      <th class="font-weight-bold" scope="col">
        {{ uiElements | UIelFinder: "view" }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let version of this.versions; let i = index">
      <td>
        <div class="view overlay rounded z-depth-1-half mb-4w-75">
          <img
            class="img-fluid img-responsive d-block mx-auto"
            [src]="version.imgPath"
            [alt]="version.title"
          />
          <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
        </div>
      </td>
      <td class="font-weight-bold text-truncate">{{ version.title }}</td>
      <td class="text-truncate">{{ version.content }}</td>
      <td class="font-weight-bold">{{ version.version }}</td>
      <td>
        <i class="fas fa-check-double fa-x2" *ngIf="version.isCurrent"></i>
        <a
          class="bwaves-light"
          (click)="this.emitCurrent(version.id)"
          [mdbTooltip]="uiElements | UIelFinder: 'sac'"
          placement="top"
          mdbWavesEffect
        >
          <i
            class="far fa-check-circle"
            *ngIf="
              !version.isCurrent &&
              (this.loggedUserData | getRole: 'Contributor')
            "
          >
          </i>
        </a>
      </td>
      <td>
        <a>
          <app-version-details
            [uiElements]="uiElements"
            [version]="this.version"
          ></app-version-details>
        </a>
      </td>
    </tr>
  </tbody>
</table>
