<button class="waves-light orange-purple-btn m-0 px-2 py-md-2 py-3 py-md-2" outline="true" (click)="editArticle.show()" mdbWavesEffect>
  <i class="fas fa-pen-fancy fa-x2 mr-1"></i>
  <span class="ml-1">{{uiElements | UIelFinder: 'edit_article'}}</span>
</button>

<div mdbModal #editArticle="mdbModal" class="modal fade bottom text-wrap" tabindex="-1" role="dialog" aria-labelledby="editArticleLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 text-center" id="eaLabel">{{uiElements | UIelFinder: 'eyah'}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="editArticle.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form
        [formGroup]="editArticleForm"
        (ngSubmit)="this.emitData(this.editArticleForm.value)"
        class="text-center border border-light px-5"
      >
        <div class="md-form edit-form">
            <div class="col-12 d-flex justify-content-center mb-2">
              <img
                class="circle z-depth-0 d-inline-block"
                [src]="this.editArticleForm.controls.imgPath.value"
                [alt]="this.article.versions[0].title"
              />
            </div>
          <input
            type="text"
            id="imgPath"
            class="form-control m-0"
            formControlName="imgPath"
          />
        </div>
        <div class="md-form edit-form">
          <input
            type="text"
            id="title"
            class="form-control m-0"
            formControlName="title"
          />
        </div>
        <div class="form-group mf-form mb-2">
          <textarea
            class="form-control rounded-0"
            id="content"
            rows="7"
            formControlName="content"
          ></textarea>
        </div>

        <button
          class="btn bg-color w-100 py-2 text-white-50 focused mb-3"
          type="submit">
          {{uiElements | UIelFinder: 'save'}}
        </button>
      </form>
    </div>
    </div>
  </div>
</div>
