<ngb-tabset>
  <ngb-tab [title]="uiElements | UIelFinder: 'languages'">
    <ng-template ngbTabContent>
      <div class="admin-panel-view-div">
        <div class="users-profile-container">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-4">
                <app-add-language [uiElements]="uiElements" (languageEmit)="addLanguage($event)"></app-add-language>
              </div>
              <div class="col-md-8">
                <app-languages-view [uiElements]="uiElements" [languages]="languages"></app-languages-view>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>{{uiElements | UIelFinder: 'users'}}</b></ng-template>
    <ng-template ngbTabContent>
      <div class="admin-panel-view-div">
        <div class="users-profile-container">
          <div class="container">
            <div class="row justify-content-center">
              <app-user-view [uiElements]="uiElements" *ngFor="let user of users" [user]="user" (userInfo)="deleteUser($event)" class="col-12 col-sm-6 col-md-4 col-lg-3"></app-user-view>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
<ngx-spinner
  bdColor = "#333"
  size = "medium"
  color = "#fff"
  type = "timer"
  [fullScreen]="false">
  <p style="color: white" > Loading... </p>
</ngx-spinner>
