<div ngbDropdown class="d-inline-block focused" *ngIf="this.languages">
    <button
      class="dropdown-style py-1 px-2"
      id="dropdownBasic1"
      ngbDropdownToggle
    >
    {{this.currentLanguage.name}}
  </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <a
        *ngFor="let language of languages"
        ngbDropdownItem
        (click)="this.emitLanguage(language)"
      >
      {{language.name}}
      </a>
    </div>
  </div>
