<a [class]="this.btnClass"  (click)="open(content)">
  <mdb-icon far [icon]="this.btnIcon" class="pr-2"></mdb-icon>
</a>

<ng-template #content let-modal>
<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{uiElements | UIelFinder: 'conf'}}</h4>
  <button
    type="button"
    class="close"
    aria-describedby="modal-title"
    (click)="modal.dismiss(false)"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
    {{this.message}}
  </p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="modal.dismiss(false)"
  >
    {{uiElements | UIelFinder: 'cancel'}}
  </button>
  <button
    type="button"
    class="btn purple-btn"
    (click)="modal.close(true)"
  >
    {{uiElements | UIelFinder: 'ok'}}
  </button>
</div>
</ng-template>
