<button type="button" mdbBtn color="brown" outline="true" size="sm" (click)="versionDetais.show()" mdbWavesEffect>
    <mdb-icon far icon="eye"></mdb-icon>
</button>
<div mdbModal #versionDetais="mdbModal" class="modal fade bottom text-wrap" tabindex="-1" role="dialog" aria-labelledby="versionDetailsLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="vdLabel">{{uiElements | UIelFinder: 'version'}} - {{this.version.version}}</h4>
      </div>
      <div class="modal-body px-5">
          <div class="view overlay rounded z-depth-1-half">
              <img
                class="img-fluid img-responsive d-block mx-auto version-img"
                [src]="this.version.imgPath"
                [alt]="this.version.title"
              />
                <div
                  class="mask rgba-white-slight waves-light"
                  mdbWavesEffect
                ></div>
              </div>
              <p class="my-3 ">{{this.version.title}}</p>
              <p class="version-content">{{this.version.content}}</p>
      </div>
      <div class="modal-footer">
        <button class="orange-purple-btn my-3" type="button" mdbBtn (click)="versionDetais.hide()" mdbWavesEffect>{{uiElements | UIelFinder: 'close'}}</button>
      </div>
    </div>
  </div>
</div>
