<div class="main">
  <form [formGroup]="loginForm" class="text-center border border-light p-5 login-form">
    <p class="h4 mb-4">{{uiElements | UIelFinder: 'sign_in'}}</p>
      <input mdbInput mdbValidate type="email" class="form-control mb-4" formControlName="usernameOrEmail" [placeholder]="uiElements | UIelFinder: 'UOE'">
      <mdb-error *ngIf="this.loginForm.controls.usernameOrEmail.errors?.required">{{uiElements | UIelFinder: 'tuoeir'}}!</mdb-error>
      <mdb-error *ngIf="this.loginForm.controls.usernameOrEmail.errors?.minlength">{{uiElements | UIelFinder: 'err1'}}!</mdb-error>
      <mdb-error *ngIf="this.loginForm.controls.usernameOrEmail.errors?.maxlength">{{uiElements | UIelFinder: 'err2'}}!</mdb-error>
      <mdb-success *ngIf="this.loginForm.controls.usernameOrEmail.valid">{{uiElements | UIelFinder: 'valid_input'}}</mdb-success>

      <input  mdbInput mdbValidate type="password" class="form-control mb-4" formControlName="password" [placeholder]="uiElements | UIelFinder: 'ps'">
      <mdb-error *ngIf="this.loginForm.controls.password.errors?.required">{{uiElements | UIelFinder: 'input_required'}}</mdb-error>
      <mdb-error *ngIf="this.loginForm.controls.password.errors?.pattern">{{uiElements | UIelFinder: 'ps-msg'}}</mdb-error>
      <mdb-success *ngIf="this.loginForm.controls.password.valid">{{uiElements | UIelFinder: 'valid_input'}}</mdb-success>
    <button mdbBtn [disabled]="!loginForm.valid" color="info" block="true" class="my-4 orange-purple-btn font-weight-bold" (click)="login(this.loginForm.value)">{{uiElements | UIelFinder: 'sign_in'}}</button>
  </form>
</div>
