<div class="banner">
    <div class="d-flexd justify-content-center banner-title w-100">
        <p class="text-center mb-0">{{uiElements | UIelFinder: 'MAP'}}</p>
        <div class="d-flex flex-md-row justify-content-center mb-3">
            <button class="btn my-1 mr-sm-3 mr-md-5 text-center purple-btn" routerLink="/login">{{uiElements | UIelFinder: 'login'}}</button>
            <button class="btn my-1 text-center purple-btn" routerLink="/register">{{uiElements |  UIelFinder: 'register'}}</button>
        </div>
    </div>
</div>
