@import "./../../../assets/scss/buttons.scss";

.banner {
  position: relative;
  background: url("./../../../assets/images/articlesplash.png") no-repeat center
    center;
  height: 100vh;
  .banner-title {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($color: #303030, $alpha: 0.7);
    p {
      font-size: 2em;
      color: #ffffff;
      text-transform: uppercase;
    }
    .purple-btn {
      width: 30%;
      font-size: 1.1em;
    }
  }
}

@media (max-width: 768px) {
  .banner {
    .banner-title {
      p {
        font-size: 2em;
      }
      div {
        .purple-btn {
          font-size: 1em;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .banner {
    .banner-title {
      p {
        font-size: 1.9em;
      }
      div {
        flex-direction: column;
        .purple-btn {
          width: 100%;
        }
      }
    }
  }
}
