<div class="main">
  <form [formGroup]="registerForm" class="text-center border border-light p-5 register-form">
    <p class="h4 mb-4">{{uiElements | UIelFinder: 'register'}}</p>
    <div class="form-row mb-4">
      <div class="col">
        <input type="text" formControlName="username" class="form-control" [placeholder]="uiElements | UIelFinder:'us'">
        <mdb-error *ngIf="this.registerForm.controls.username.errors?.required && (registerForm.dirty || registerForm.touched)">{{uiElements | UIelFinder:'tuoeir'}}!</mdb-error>
        <mdb-error *ngIf="this.registerForm.controls.username.errors?.minlength">{{uiElements | UIelFinder:'err1'}}!</mdb-error>
        <mdb-error *ngIf="this.registerForm.controls.username.errors?.maxlength">{{uiElements | UIelFinder:'err2'}}!</mdb-error>
        <mdb-success *ngIf="this.registerForm.controls.username.valid">{{uiElements | UIelFinder: 'valid_input'}}</mdb-success>
      </div>
      <div class="col">
        <input type="text" formControlName="email" class="form-control" [placeholder]="uiElements | UIelFinder:'em'">
        <mdb-error *ngIf="this.registerForm.controls.email.errors?.required && (registerForm.dirty || registerForm.touched)">{{uiElements | UIelFinder: 'input_required'}}!</mdb-error>
        <mdb-error *ngIf="this.registerForm.controls.email.errors?.email">{{uiElements | UIelFinder: 'email_format'}}</mdb-error>
        <mdb-success *ngIf="this.registerForm.controls.email.valid">{{uiElements | UIelFinder: 'valid_input'}}</mdb-success>
      </div>
    </div>
      <input type="email" formControlName="avatarPath" class="form-control mb-4" [placeholder]="uiElements | UIelFinder: 'avatar_path'">
      <mdb-success *ngIf="this.registerForm.controls.avatarPath.valid">{{uiElements | UIelFinder: 'valid_input'}}</mdb-success>

    <input type="password" formControlName="password" class="form-control" [placeholder]="uiElements | UIelFinder: 'ps'" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <mdb-error *ngIf="this.registerForm.controls.password.errors?.required">{{uiElements | UIelFinder: 'input_required'}}</mdb-error>
    <mdb-error *ngIf="this.registerForm.controls.password.errors?.pattern">{{uiElements | UIelFinder: 'invalid_input'}}</mdb-error>
    <mdb-success *ngIf="this.registerForm.controls.password.valid">{{uiElements | UIelFinder: 'valid_input'}}</mdb-success>
    <small class="form-text text-muted mb-4">
      {{uiElements | UIelFinder:'ps-msg'}}
    </small>
    <select class="browser-default custom-select" formControlName="preferedLangCode">
      <option  *ngFor="let lang of languages" [ngValue]="lang.code">{{lang.name}}</option>
    </select>
    <label>{{uiElements | UIelFinder: 'c_language'}}</label>
    <button [disabled]="!registerForm.valid" mdbBtn color="info" block="true" class="my-4 orange-purple-btn font-weight-bold" (click)="register(this.registerForm.value)">{{uiElements | UIelFinder: 'register'}}</button>
  </form>
</div>
