@import "./../../../assets/scss/buttons.scss";

.main {
  display: flex;
  justify-content: center;
}
.register-form {
  width: 50%;
}
@media (max-width: 576px) {
  .register-form {
    width: 70%;
  }
}
