<mdb-icon id="delete" fas icon="user-times" (click)="deleteUser()"></mdb-icon>
<div class="our-team">
  <div class="picture">
    <img class="img-fluid" [src]="user.avatarPath">
    <h3 class="name">{{user.username}}</h3>
  </div>
  <div class="team-content">
    <div class="col">
      <div class="col">
        <h3 class="title font-weight-bold">{{uiElements | UIelFinder: 'roles'}}</h3>
        <h4 *ngFor="let role of user.roles" class="title font-italic">{{role.name}}</h4>
      </div>
      <div class="col">
        <h3 class="title font-weight-bold">{{uiElements | UIelFinder: 'info'}}</h3>
        <h4 class="title">{{user.email}}</h4>
        <h4 class="title">{{user.preferedLangCode | CodeConverterPipe}}</h4>
      </div>
    </div>
  </div>
  <ul class="social">
    <li>
      <button type="button" class="btn" (click)="changeRoles('Editor')">{{uiElements | UIelFinder: 'editor'}}</button>
      <button type="button" class="btn" (click)="changeRoles('Administrator')">{{uiElements | UIelFinder: 'admin'}}</button>
      <button type="button" class="btn" (click)="changeRoles('Contributor')">{{uiElements | UIelFinder: 'contributor'}}</button>
    </li>
  </ul>
</div>
