<div class="outer">
  <div class="table-responsive inner">
    <table mdbTable striped="true" bordered="true" hover="true">
      <thead class="rgba-brown-strong">
      <tr>
        <th class="font-weight-bold" scope="col">ID</th>
        <th class="font-weight-bold" scope="col">{{uiElements | UIelFinder: 'OD'}}</th>
        <th class="font-weight-bold" scope="col">{{uiElements | UIelFinder: 'OLC'}}</th>
        <th class="font-weight-bold" scope="col">{{uiElements | UIelFinder: 'trl'}}</th>
        <th class="font-weight-bold" scope="col">{{uiElements | UIelFinder: 'TLC'}}</th>
        <th class="font-weight-bold" scope="col">{{uiElements | UIelFinder: 'rating'}}</th>
        <th class="font-weight-bold" scope="col">{{uiElements | UIelFinder: 'action'}}</th>
      </tr>
      </thead>
      <tbody>
      <tr mdbTableCol *ngFor="let translation of translations; let i = index">
        <th scope="row" class="font-italic">{{i}}</th>
        <td>{{translation.originalText }}</td>
        <td class="font-weight-bold">{{translation.originalLanguageCode | CodeConverterPipe}}</td>
        <td>{{translation.translation}}</td>
        <td class="font-weight-bold">{{translation.targetLanguageCode | CodeConverterPipe}}</td>
        <td>{{translation.rating.avgrating}}</td>
        <td>
          <app-edit-translation [uiElements]="uiElements" (editedText)="this.updateTranslation($event)" [currentTranslation]="translation"></app-edit-translation>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


