@import './../../../assets/scss/buttons.scss';

.outer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .inner {
    background: white;
    width: 85%;
    text-align: center;
  }
}
