<div class="outer mb-5">
    <div class="table-responsive inner">

          <app-versions-table [versions]="this.versions" (oNSetCurrent)="this.setCurrent($event)"></app-versions-table>

    </div>
  </div>
