
<app-create-article [uiElements]="uiElements"
  *ngIf="(this.loggedUserData | getRole: 'Administrator') || (this.loggedUserData | getRole: 'Contributor')"
  (oNCreate)="this.createArticle($event)"
></app-create-article>

<section class="mx-md-5 my-0 px-md-5 px-3">
  <h2 class="h2-responsive font-weight-bold text-center my-5">{{uiElements | UIelFinder: 'new_published'}}</h2>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="single-news mb-lg-0 mb-4" *ngIf="this.articles[0]">
        <app-article-info1 [uiElements]="uiElements" [article]="this.articles[0]" (oNDelete)="this.deleteArticle($event)">
        </app-article-info1>
      </div>
    </div>

    <div class="col-lg-6 col-md-12">
      <div *ngIf="this.articles[1]">
          <app-article-info2 [uiElements]="uiElements" [article]="this.articles[1]" (oNDelete)="this.deleteArticle($event)"></app-article-info2>
      </div>

      <div *ngIf="this.articles[2]">
          <app-article-info2 [uiElements]="uiElements" [article]="this.articles[2]" (oNDelete)="this.deleteArticle($event)"></app-article-info2>
      </div>

      <div *ngIf="this.articles[3]">
          <app-article-info2 [uiElements]="uiElements" [article]="this.articles[3]" (oNDelete)="this.deleteArticle($event)"></app-article-info2>
      </div>

      <div class="single-news" *ngIf="this.articles[4]">
          <app-article-info2 [uiElements]="uiElements" [article]="this.articles[4]" (oNDelete)="this.deleteArticle($event)"></app-article-info2>
      </div>
    </div>
  </div>
</section>

<section class="magazine-section m-5" *ngIf="this.articlesPerPage.length">
  <h2 class="h2-responsive font-weight-bold text-center my-5">{{uiElements | UIelFinder: 'more_articles'}}</h2>

  <div class="row d-flex">
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-5">
      <div *ngIf="this.articlesPerPage[0]">
        <app-article-info3 [uiElements]="uiElements" [article]="this.articlesPerPage[0]" (oNDelete)="this.deleteArticle($event)"></app-article-info3>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 mb-lg-0 mb-5">
      <div *ngIf="this.articlesPerPage[1]">
        <app-article-info3 [uiElements]="uiElements" [article]="this.articlesPerPage[1]" (oNDelete)="this.deleteArticle($event)"></app-article-info3>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 mb-lg-0 mb-5">
      <div *ngIf="this.articlesPerPage[2]">
        <app-article-info3 [uiElements]="uiElements" [article]="this.articlesPerPage[2]" (oNDelete)="this.deleteArticle($event)"></app-article-info3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-5">
      <div class="semi-transparent-bg">
      <div *ngIf="this.articlesPerPage[3]">
          <app-article-info4 [uiElements]="uiElements" [article]="this.articlesPerPage[3]" (oNDelete)="this.deleteArticle($event)"></app-article-info4>
      </div>

      <div *ngIf="this.articlesPerPage[4]">
          <app-article-info4 [uiElements]="uiElements" [article]="this.articlesPerPage[4]" (oNDelete)="this.deleteArticle($event)"></app-article-info4>
      </div>

      <div *ngIf="this.articlesPerPage[5]">
        <app-article-info4 [uiElements]="uiElements" [article]="this.articlesPerPage[5]" (oNDelete)="this.deleteArticle($event)"></app-article-info4>
      </div>
      <div *ngIf="this.articlesPerPage[6]">
        <app-article-info4 [uiElements]="uiElements" [article]="this.articlesPerPage[6]" (oNDelete)="this.deleteArticle($event)"></app-article-info4>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-md-0 mb-5">
    <div class="semi-transparent-bg py-2">
      <div *ngIf="this.articlesPerPage[7]">
        <app-article-info4 [uiElements]="uiElements" [article]="this.articlesPerPage[7]" (oNDelete)="this.deleteArticle($event)"></app-article-info4>
      </div>

      <div *ngIf="this.articlesPerPage[8]">
          <app-article-info4 [uiElements]="uiElements" [article]="this.articlesPerPage[8]" (oNDelete)="this.deleteArticle($event)"></app-article-info4>
      </div>

      <div *ngIf="this.articlesPerPage[9]">
          <app-article-info4 [uiElements]="uiElements" [article]="this.articlesPerPage[9]" (oNDelete)="this.deleteArticle($event)"></app-article-info4>
      </div>

      <div *ngIf="this.articlesPerPage[10]">
        <app-article-info4 [uiElements]="uiElements" [article]="this.articlesPerPage[10]" (oNDelete)="this.deleteArticle($event)"></app-article-info4>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-0">
    <div class="semi-transparent-bg py-2">
      <div *ngIf="this.articlesPerPage[11]">
          <app-article-info4 [uiElements]="uiElements" [article]="this.articlesPerPage[11]" (oNDelete)="this.deleteArticle($event)"></app-article-info4>
      </div>

      <div *ngIf="this.articlesPerPage[12]">
          <app-article-info4 [uiElements]="uiElements" [article]="this.articlesPerPage[12]" (oNDelete)="this.deleteArticle($event)"></app-article-info4>
      </div>

      <div *ngIf="this.articlesPerPage[13]">
          <app-article-info4 [uiElements]="uiElements" [article]="this.articlesPerPage[13]" (oNDelete)="this.deleteArticle($event)"></app-article-info4>
      </div>

      <div *ngIf="this.articlesPerPage[14]">
          <app-article-info4 [uiElements]="uiElements" [article]="this.articlesPerPage[14]" (oNDelete)="this.deleteArticle($event)"></app-article-info4>
      </div>
    </div>
    </div>
  </div>
</section>

<div class="col-12 justify-content-center pagination mb-5">
  <ngb-pagination
    [(page)]="this.page"
    [pageSize]="this.pageSize"
    [collectionSize]="this.articles.length-5"
    (oNPageEmit)="this.setCurrentPage($event)"
    (pageChange)="this.loadPage($event)"
  >
  </ngb-pagination>
</div>
