<button type="button" mdbBtn color="brown" outline="true" size="sm" (click)="basicModal.show()" mdbWavesEffect>{{uiElements | UIelFinder: 'edit'}}</button>
<div mdbModal #basicModal="mdbModal" class="modal fade bottom text-wrap" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">{{uiElements | UIelFinder: 'trl'}}</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="editText">
            <textarea type="text" rows="10" class="form-control md-textarea md-textarea-auto" mdbInput mdbValidate formControlName="translation"></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="danger" outline="true" (click)="basicModal.hide()" mdbWavesEffect>{{uiElements | UIelFinder: 'close'}}</button>
        <button type="button" mdbBtn color="primary" outline="true" [disabled]="!editText.dirty" (click)="emitTest(this.editText.value)" mdbWavesEffect>{{uiElements | UIelFinder: 'save'}}</button>
      </div>
    </div>b
  </div>
</div>
